#include <windows.h>
#include "../src/resource.h"

IDI_APPICON ICON "launchmate.ico"

IDD_PROGRAM_OPTIONS DIALOGEX 0, 0, 230, 100
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Program options"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Arguments", -1, 10, 10, 70, 10
    EDITTEXT IDC_PROGRAM_ARGS, 10, 22, 210, 14, ES_AUTOHSCROLL
    LTEXT "Start delay (ms)", -1, 10, 44, 95, 10
    EDITTEXT IDC_PROGRAM_DELAY, 10, 56, 100, 14, ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON "OK", IDC_PROGRAM_OK, 134, 78, 40, 14
    PUSHBUTTON "Cancel", IDC_PROGRAM_CANCEL, 178, 78, 42, 14
END
